* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: linear-gradient(135deg, #4e73df, #1cc88a);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.navbar .logo {
    font-size: 22px;
    font-weight: bold;
}

.navbar .logo a {
    text-decoration: none;
    color: #04273b;
}

.navbar nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.navbar .btn {
    background: #2da9ef;
    color: #fff;
    padding: 8px 15px;
    border-radius: 6px;
}

.navbar .btn:hover {
    background: #c91b1b;
}

/* HERO */
.hero {
    background: #2da9ef;
    color: white;
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

/* NAVBAR SEARCH */
.nav-search {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 25px;
    overflow: hidden;
    height: 38px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    margin: 0 20px;
}

.nav-search input {
    border: none;
    outline: none;
    padding: 0 15px;
    font-size: 14px;
    width: 180px;
}

.nav-search button {
    background: #1b87c9;
    border: none;
    color: white;
    padding: 0 15px;
    height: 100%;
    cursor: pointer;
    transition: background 0.3s ease;
}

.nav-search button:hover {
    background: #166fae;
}

.nav-search i {
    font-size: 15px;
}

/* HERO BUTTONS */


.hero-buttons {
    margin-top: 25px;
}

.primary-btn,
.secondary-btn {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease;
}

.primary-btn {
    background: #fff;
    color: #2da9ef;
}

.primary-btn:hover {
    background: #e6f2fb;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.secondary-btn {
    background: #1b87c9;
    color: white;
}

.secondary-btn:hover {
    background: #166fae;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
.logout-btn:hover {
    background-color: #1b87c9;   
    color: #ffffff;
}

/* ITEMS */
.items {
    padding: 50px 40px;
}

.items h2 {
    margin-bottom: 30px;
}

.items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.item-card {
    border: 1px solid #ccc;
    width:250px;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.item-card img {
    width: 100%;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 10px;
}

.item-card h3 {
    margin: 10px 0;
    font-size: 18px;
}

.item-card p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.item-type {
    display: inline-block;
    padding: 5px 12px;
    background-color: #007bff;
    color: white;
    border-radius: 15px;
    margin-top: 8px;
    font-size: 12px;
    font-weight: bold;
}
/* Lost = Red */
.item-type.lost {
    background-color: #e74c3c;
}

/* Found = Green */
.item-type.found {
    background-color: #2ecc71;
}
.posted-at {
    display: block;
    margin-top: 8px;
    font-size: 12px;
    color: #777;
}

/* FOOTER */
.footer {
    background: linear-gradient(135deg, #4e73df, #1cc88a);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.footer p {
    margin: 0;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 15px 20px;
    }
    .navbar nav {
        margin-top: 10px;
    }

    .navbar nav a {
        margin: 5px 10px;
    }

    .hero h1 {
        font-size: 26px;
    }

    .nav-search{
        display: none;
        width: 90%;
    }

    .items {
        padding: 30px 20px;
    }

    .items-container {
        grid-template-columns: 1fr;
    }
}

.item-meta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap:10px;
    margin-top: 10px;
}
